mixin contact
    .contact
        .container
            .row
                .col-12
                    .contact__wrapper
                        form
                            fieldset
                                legend Contact Us
                                .contact__paragraph
                                    p Planning and development is iterative. Because we are constantly coding and testing, the products we build are always ready to go live. This iterative process allows for changes as business requirements evolve. 
                                .contact__wrap
                                    a(class="contact__button" href="#") Contact Us
