.gallery {



  &__wrapper img {
  margin-top: 9px;    
  margin-right: 10px;    
  }

  &__wrapper1 img {
  margin-top: 9px;    
  margin-right: 10px;    
  }

  &__picture1 {
  position: relative;    
  }

  &__picture1 p {
  position: absolute;
  bottom: 42px;
  left: 47px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  }
}