mixin gallery
    .gallery
        .container
            .row.d-flex.flex-wrap
                .col-12
                    .gallery__wrapper
                        .gallery__picture1
                            img(src='./img/topworkz.jpg')
                            p Topworkz
                        .gallery__picture2    
                            img(src='./img/joint.jpg')
                            p Joint
                        .gallery__picture3    
                            img(src='./img/market.jpg')
                            p Market
                    .gallery__wrapper
                        .gallery__picture4
                            img(src='./img/worktop.jpg')
                            p Worktop
                        .gallery__picture5    
                            img(src='./img/lable.jpg')
                            p Lable
                        .gallery__picture6    
                            img(src='./img/kyiv.jpg')
                            p Kyiv
        <div class="row">
            <div class="column">
                <img src='./img/topworkz.jpg'>
                <img src='./img/worktop.jpg'>
            </div>
            <div class="column">
                <img src='./img/joint.jpg'>
                <img src='./img/lable.jpg'>
            </div>
            <div class="column">
                <img src='./img/market.jpg'>
                <img src='./img/kyiv.jpg'>
            </div>