mixin gallery
    .gallery
        .container
            .row
                .col-12
                    .gallery__wrapper.d-flex.justify-content-center
                        .gallery__picture1
                            img(src='./img/topworkz.jpg')
                            p Topworkz
                        .gallery__picture2    
                            img(src='./img/joint.jpg')
                        .gallery__picture3    
                            img(src='./img/market.jpg')
                    .gallery__wrapper1.d-flex.justify-content-center    
                        img(src='./img/worktop.jpg')
                        img(src='./img/lable.jpg')
                        img(src='./img/kyiv.jpg')