mixin wedo
    .wedo
        .container
            .row
                .col-12
                    .wedo__wrapper
                        form
                            fieldset
                                legend What We Do
                                .wedo__svg1
                                    img(src='./img/pen1.svg')
                                h2.wedo__heading design
                                .row.d-flex.justify-content-center
                                    .col-12
                                        .wedo__paragraph
                                            p Our design practice offers a full range of services including branding strategy,interaction and visual design and user experience testing.
                                .row.d-flex.justify-content-center
                                    .col-11.pr-4
                                        .wedo__paragraph2 
                                            p Throughout your project, our designers create and implement visual designs and workflows, solicit user feedback, and work with you to make sure what gets built is what is needed. 

