mixin wedo
    .wedo
        .container
            .row
                .col-12
                    .wedo__wrapper
                        form
                            fieldset
                                legend What We Do
                                .wedo__svg1
                                    img(src='./img/pen.svg')
                                p When you work with us, you are part of a team of committed collaborators. 
                                p All aspects of our software development process are integrated, iterative and agile.
                                .row.d-flex.justify-content-center
                                    .col-8
                                        p Our approach unifies design, development and product management to create exceptional products. 
                                        p We start each project by understanding your business goals, the user’s needs and the product requirements. 
                                        p Then we help translate them into effective and elegant solutions.