mixin header
    .header
        .container
            .row
                .col-12
                    .header__svg
                        img(src='./img/logo.svg')
                    .header__title
                        h1 Working <br>With Design Lab
                    .header__subtitle
                        p We’ve been helping startups launch and grow their businesses.
                        p We help you to fill the gap between development, <br> design and product management.
                    .header__scroll
                        img(src='./img/scroll.svg')